@page "/mainpage"
@using pcso_group_three_blazor.Data;
@inject pcso_group_three_blazor.IRepository.IMobileOrganizationsRepository mobileRepository;


 <button class="btn btn-outline-primary" width="50">Office of the Board of Directors</button>
 <button class="btn btn-outline-primary" width="50">Office of the Chairperson</button>
 <button class="btn btn-outline-primary" width="50">Office of the Board Secretary</button>
 <button class="btn btn-outline-primary" width="50">Office of the General Manager</button>
 <button class="btn btn-outline-primary" width="50">Administrative Sector</button>
 <button class="btn btn-outline-primary" width="50">Branch Operation Sector</button>
 <button class="btn btn-outline-primary" width="50">Charity Sector</button>
 <button class="btn btn-outline-primary" width="50">Gaming, Product Development and Marketing Sector</button>
 <button class="btn btn-outline-primary" width="50">Management Services Sector</button>

@code {
    private void DisplayBoardOfDirectors()
    {
        
    }
}
